.heading{
  color:rgb(0, 0, 0);
  font-size: large;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.button{
  color:rgb(164, 69, 69);
  font-size:50px;
  text-align: center;
}

.widthSet{
  max-width: 300px;
  background-color: transparent;
}

.image{
  background-color: transparent;
}

body{
  background: transparent;
}